<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
  <template v-if='logged'>
    <p>Usuário Logado: {{ name }}</p>
    <p>Perfil: Admin</p>
  </template>
  <p v-else-if="anonimous">Navegando como Anônimo</p>
  <p v-else>Nenhum usuário logado</p>
  <button @click="logged = !logged" >{{ logged ? 'Sair' : 'Entrar' }}</button>
  <input type="checkbox" v-model="anonimous">
</div>

<script>
  new Vue({
    el: "#app",
    data: {
      name: 'Rafael',
      logged: false,
      anonimous: false,
    }
  })
</script>