<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue"></script>
  
</head>
<body>
  <div id="app">
    <h1 class="text-center">O Matador de Monstro</h1>
    <div class="card flex rounded">
      <div class="flex-grow text-center padding">
        <h3>Herói</h3>
        <div class="bar">
          <div class="bar-progress" :class="{danger: hero < 20}" :style="[{width: `${hero}%`}]"></div>
        </div>
        <span>{{ hero }}/100</span>
      </div>
      
      <div class="flex-grow text-center padding">
        <h3>Monstro</h3>
        <div class="bar mb-1">
          <div class="bar-progress" :class="{danger: monster < 20}" :style="[{width: `${monster}%`}]"></div>
        </div>
        <span>{{ monster }}/100</span>
      </div>
    </div>

    <div class="card flex rounded result" v-if='hasResult'>
      <div class="win" v-if="monster == 0">Você ganhou! :D</div>
      <div class="lose" v-else>Você perdeu! :O</div>
    </div>
    
    <div class="card flex rounded">
      <template v-if='status'>
        <button class="btn btn-danger rounded" @click='attack(false)'>ATAQUE</button>
        <button class="btn btn-danger-dark rounded" @click='attack(true)'>ATAQUE ESPECIAL</button>
        <button class="btn btn-success rounded" @click='healAndHurt()'>CURAR</button>
        <button class="btn btn-dark rounded" @click='status = false'>DESISTIR</button>
      </template>
      <button v-else @click="start" class="btn btn-primary rounded">INICIAR JOGO</button>
    </div>

    <div class="card rounded">
      <div v-for='log in logs'>{{ log }}</div>
    </div>

  </div>
  
  <script src="app.js"></script>
</body>
</html>