<script src="https://unpkg.com/vue"></script>
<style>
  .caixas {
    display: flex;
    justify-content: space-around;
  }

  .demo {
    width: 100px;
    height: 100px;
    background-color: gray;
  }

  .c1 {
    background-color: red;
  }

  .c2 {
    background-color: green;
  }
  
  .c3 {
    background-color: blue;
  }
</style>
<div id="app">
  <div class="caixas">
    <div class="demo" :class="style" @click='setC1 = !setC1'></div>
    <div class="demo" :style="{'background-color': cor}"></div>
    <div class="demo" :style='myStyle'></div>
    <div class="demo" :style='[myStyle, {height: altura}]'></div>
  </div>
  <hr>
  <input type="text" v-model="cor">
  <input type="text" v-model="largura">
</div>


<script>
  new Vue({
    el: '#app',
    data: {
      setC1: false,
      cor: 'purple',
      largura: 20,
      altura: 10,
    },
    computed: {
      myStyle(){
        return {
          backgroundColor: this.color,
          width: `${this.largura}px`
        }
      },
      style(){
        return {
          c1: this.setC1,
          c2: !this.setC1,
        }
      }
    }
  })
</script>